In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv(r'C:\Users\LENOVO\Downloads\archive (7).zip', compression='zip')
df.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2021-09-29,259.933319,264.500000,256.893341,260.436676,260.436676,62828700
1,2021-09-30,260.333344,263.043335,258.333344,258.493347,258.493347,53868000
2,2021-10-01,259.466675,260.260010,254.529999,258.406677,258.406677,51094200
3,2021-10-04,265.500000,268.989990,258.706665,260.510010,260.510010,91449900
4,2021-10-05,261.600006,265.769989,258.066681,260.196655,260.196655,55297800

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 253 entries, 0 to 252
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       253 non-null    object
 1   Open       253 non-null    float64
 2   High       253 non-null    float64
 3   Low        253 non-null    float64
 4   Close      253 non-null    float64
 5   Adj Close  253 non-null    float64
 6   Volume     253 non-null    int64
dtypes: float64(5), int64(1), object(1)
memory usage: 14.0+ KB

In [6]:
df.drop(['Adj Close'], axis=1, inplace=True)

In [7]:
df.head()

         Date        Open        High         Low       Close    Volume
0  2021-09-29  259.933319  264.500000  256.893341  260.436676  62828700
1  2021-09-30  260.333344  263.043335  258.333344  258.493347  53868000
2  2021-10-01  259.466675  260.260010  254.529999  258.406677  51094200
3  2021-10-04  265.500000  268.989990  258.706665  260.510010  91449900
4  2021-10-05  261.600006  265.769989  258.066681  260.196655  55297800

In [8]:
df.describe()

             Open        High         Low       Close        Volume
count  253.000000  253.000000  253.000000  253.000000  2.530000e+02
mean   300.136008  307.486021  292.114058  299.709104  8.050938e+07
std     46.139272   46.789896   44.685331   45.788283  2.546595e+07
min    207.949997  217.973328  206.856674  209.386673  3.504270e+07
25%    266.513336  273.166656  260.723328  266.923340  6.255570e+07
50%    298.500000  303.709991  289.130005  296.666656  7.695630e+07
75%    335.600006  344.950012  327.510010  336.336670  9.347310e+07
max    411.470001  414.496674  405.666656  409.970001  1.885563e+08